body,html{
  padding: 0;
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
  background-color: #181818;
  color: #fff;
}
*{
  box-sizing: border-box;
}

.textRed{
  color: red !important;
}
.textGreen{
  color: green !important;
}
